.DS_Store
/_deliverables
/aicc
/build
/dist
/tmp
~$*.doc*
~$*.xls*
coverage
node_modules
package-lock.json
/__tests__
/.vscode
/.coveralls.yml
/.eslintignore
/.eslintrc.js
/.gitattributes
/.travis.yml
